<h1>All Available Project</h1>

<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id %>"><%= project.title%></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no projects to display.</p>
<% end %>

<!-- <form action="/projects">
  <div class="form-group">
    <label for="title">Project Title</label>
    <input name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search</button>
</form> -->

<!-- <a href="/projects/new">Create Project</a> -->

<div class="form-group">
  <form action="/projects" method="post">
    <div class="form-group">
      <label for="project_name">Project title</label>
      <input name="title" class="form-control" type="text">
    </div>
    <button type="submit" class="btn">Create Project</button>
  </form>
</div>
